.radio {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.radio::before {
}

.radio:checked::before {

}

.label {
    display: flex;
    align-items: center;
    gap: 0 13px;

}

.options {
    display: flex;
    flex-direction: column;
    gap: 21px 0;

}
.span{
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
input[type="checkbox"]:checked {
    border-color: red;
    background-color:red;
}